.selectedPage{
    font-weight: bold;
    padding: 2px;
  }

.pages{
    cursor: pointer;
    margin: 10px;
    text-align: center;    
}

.pages img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  fill: rgb(255, 244, 233);
  border: none;
}

.pagesNumber{
    padding: 2px;
}
