.selectedPage{
    font-weight: bold;
    padding: 2px;
    border: 1px solid black;
  }

.pages{
    cursor: pointer;
    margin: 10px;
    text-align: center;
  }

.pagesNumber{
    padding: 2px;
    border: 1px solid grey;
}
