.userCard{
  display: grid;
  grid-template-areas: 
  "photo info"
  "button info";
  grid-template-columns: 1fr 11fr;
  margin: 0.5rem;
}

.userPhoto img{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin-left: 0.8rem;
    margin-bottom: 0.4rem;
    grid-area: photo;
  }

  .userInfo{
    grid-area: info;
    text-align: left;
  }

  .buttonFollow{
    grid-area: button;
  }
