.header{
    grid-area: h;
    background-color: bisque;
  }
  
  .header img{
    width: 65px;
    margin-left: 20px;
  }

  .loginBlock{
    float: right;
    color: sienna;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .loginBlock a{
    color: sienna;
    text-decoration: none;
  }

  .loginBlock button{
    margin-left: 01rem;
  }