.nav{
    grid-area: n;
    background-color: rgb(233, 176, 119);
    padding: 20px;
  }

.item a{
    color: white;
    text-decoration: none;
  }

.item a.activeLink{
  color: sienna;
}

.itemFriend{
  margin-top: 180px;
  font-weight: bold;
  font-size: large;
}