.dialogs{
    display: grid;
    grid-template-areas: 
    "dlg msg";
    grid-template-columns: 4fr 8fr;
}

.dialogsItems{
    padding: 10px;
    color: white;
    grid-area: dlg; 
}

.dialogsItems .active{
    color:gold;
    margin: 1rem;
}

.dialogsItems a{
    text-decoration: none;
}

.messages{
    padding: 10px;
    grid-area: msg; 
    border-left: 0.05rem solid rgb(158, 112, 26) ;
}

.messages .message{
    color: black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.dialogsItems img{
    width: 40px;
    height: 40px;
    margin-right: 0.6rem;
    border-radius: 20px;
  }

.messages .newMessage .buttonNewMessage{
    text-align: right;
 }

 textarea{
    width: 100%;
    resize: none;
}

 .newMessage{
     position: absolute;
     bottom: 0;
     right: 0;
     padding: 1.9rem;
     width: 47.1rem;
 }

 .myMessage{
     text-align: right;
 }

 .otherUserMessage{
     text-align: left;
 }